
<mat-form-field class="example-form-field">
    <mat-label>Buscar...</mat-label>
    <input matInput type="text" [(ngModel)]="filter">
    <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()" [disabled]="!filter">Buscar</button>
  <mat-form-field class="example-form-field">
    <mat-label>Buscar por id</mat-label>
    <input matInput type="text" [(ngModel)]="filterId">
    <button *ngIf="filterId" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilterId()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchById()" [disabled]="!filterId">Buscar por id</button>
  <button mat-raised-button color="primary" (click)="addHero()">Añadir</button>
<div *ngIf="superheroes">
    <table mat-table [dataSource]="superheroes" class="mat-elevation-z8">

        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            
            <button mat-button color="primary" (click)="openDialog('update',element)">Editar</button>
            <button mat-button color="primary" (click)="openDialog('delete',element)">Eliminar</button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
    <mat-paginator #paginator [length]="superheroesBackup.length"
                  [pageSize]="5"
                  [pageSizeOptions]="[2,5]"
                  aria-label="Select page" (page)="onPageChange($event)">
                  
    </mat-paginator>
</div>
<ng-template #formModal>
  <form [formGroup]="superHeroForm">
    <mat-form-field class="example-form-field">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" [class.is-invalid]="superHeroForm.controls.name.touched && superHeroForm.controls.name.hasError('required')">
      
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()">Cancelar</button>
      <button mat-button *ngIf="!add" cdkFocusInitial (click)="updateHero()" [disabled]="superHeroForm.status === 'INVALID'">Guardar</button>
      <button mat-button *ngIf="add"  (click)="addHeroB()" [disabled]="superHeroForm.status === 'INVALID'">Añadir</button>
    </div>
  </form>
</ng-template>
<ng-template #deleteModal>
  <form [formGroup]="superHeroForm">
    <label>¿Está seguro de que desea eliminar el super heroe?</label>
    <div mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()">Cancelar</button>
      <button mat-button cdkFocusInitial (click)="deleteHero()">Sí, eliminar</button>
    </div>
  </form>
</ng-template>

